<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Forgot Password</title>
</head>
<body>

<form method="POST">
    <div {# style="position: fixed; width: 100%; height: 100%; z-index: 1000; background-color: rgba(0, 0, 0, 0.7)" #}>
        <div {# style="position: absolute; top: 30%; left: 50%; transform: translate(-50%, -50%); border: 1px solid black; border-radius: 5px; padding: 10px; background-color: white; display: flex; flex-direction: column" #}>
            <label for="reset">Your E-Mail:
                <input type="email" name="email" required>
            </label>
            <button type="submit" name="sendEmail">Reset my password</button>
        </div>
    </div>
</form>

</body>
</html>