<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body style="height: 100vh;">

<div style="position: absolute; width: 100vw;">
    <form method="POST"
          style="display: flex; flex-direction: column; align-items: center; justify-content: space-around; margin: 130px auto;">

        <label for="email"> E-Mail:
            <input
                    type="email"
                    name="email">
        </label>
        <label for="password"> Password:
            <input
                    type="password"
                    name="password">
        </label>

        <button type="submit" name="login">Log in!</button>
        <button type="submit" name="reset">Forgot your password?</button>
        <a href="http://localhost:8080/index.php?page=register">Don't have an account yet?</a>
        <p>{{ err }}</p>
    </form>
</div>

</body>
</html>