<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reset password</title>
</head>
<body>

<form method="POST">
    <label for="password">Enter new password:
        <input required type="password" name="password">
    </label>

    <label for="repeat">Repeat your password:
        <input required type="password" name="repeat">
    </label>

    <button type="submit" name="reset">Save new password</button>

    <p>{{ error }}</p>
</form>

</body>
</html>