account.json
users.json

/vendor/
/node_modules/
/composer.phar

.env
.env.local

# IDE and editor folders
.idea/
*.sublime-*

# Logs and caches
/var/cache/*
!/var/cache/.gitkeep
/var/logs/*
!/var/logs/.gitkeep
/var/log/*
!/var/log/.gitkeep

# PHP Unit
.phpunit.cache
.phpunit.result.cache
phpunit.xml.bak

/build/
/coverage/