<?xml version="1.0"?>
<phpunit
        bootstrap="vendor/autoload.php"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.3/phpunit.xsd"
        displayDetailsOnTestsThatTriggerWarnings="true"
        displayDetailsOnTestsThatTriggerDeprecations="true"
        cacheDirectory=".phpunit.cache"
>
    <php>
        <env name="DATABASE" value="cash_test" force="true"/>
    </php>
    <coverage>
        <report>
            <html outputDirectory="build/coverage-html"/>
            <clover outputFile="build/logs/clover.xml"/>
            <text outputFile="php://stdout"/>
        </report>
    </coverage>
    <testsuites>
        <testsuite name="Tests">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <exclude>
            <directory suffix=".php">./tests</directory>
        </exclude>
    </source>
</phpunit>
