<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cash App</title>
</head>
<body>

    <h2>{{ loggedUser }}</h2>
    <form method="POST">
        {% if loggedUser %}
            <button type="button" onclick="window.location.href='index.php?page=logout'">Log out</button>
        {% else %}
            <button type="button" onclick="window.location.href='index.php?page=login'">Log in</button>
            <button type="button" onclick="window.location.href='index.php?page=register'">Sign up</button>
        {% endif %}
    </form>

    <h3>Kontostand: {{ kontostand }}</h3>
    <h2>Geld hochladen</h2>

    <form method="POST">

        <label for="amount"> Betrag:
            <input required
                   type="text"
                   name="amount"
                   value="{{ amount }}">
        </label> <br>

        <input type="submit" name="submit" value="Hochladen">
        <p>{{ errors.limit ~ errors.validAmount}}</p>
        <p>{% if errors.limit == '' and errors.validAmount == '' and submit %}
                Die Transaktion wurde erfolgreich gespeichert!
            {% endif %}
        </p>

    </form>

</body>
</html>