<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<form method="POST">
    <label for="email"> E-Mail:
        <input required
               type="email"
               name="email">
    </label>
    <label for="password"> Password:
        <input required
               type="password"
               name="password">
    </label>

    <button type="submit" name="login">Log in!</button>
    <button type="button" onclick="window.location.href='index.php'">Home</button>
    <p>{{ err }}</p>
</form>

</body>
</html>